<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
   <h1>Welcome to the Login Page</h1> 

   <% if(messages.error) { %>
    <div class="alert-danger"><strong>
            <%= messages.error %>
        </strong></div>
    <% } %>
    
   <div>
    <form action="/register" method="POST">
        <div>
            <label for="name">Full name</label>
            <input type="text" placeholder="full name" name="name">
            </div>
        <div>
            <label for="email">Email</label>
            <input type="email" placeholder="email" name="email">
            </div>
            <div>
                <label for="password">Password</label>
            <input type="password" placeholder="password" name="password">
        </div>
        <div>
        <input type="submit" value="submit">
    </div>

    <p>Already have an account <a href="/login">Login</a></p>
    </form>
   </div>
</body>
</html>